appdirs==1.4.4
audioread==2.1.9
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
fonttools==4.32.0
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.6
packaging==21.3
Pillow==9.1.0
pip==21.2.4
pooch==1.6.0
pycodestyle==2.8.0
pycparser==2.21
pynndescent==0.5.6
pyparsing==3.0.8
python-dateutil==2.8.2
requests==2.27.1
resampy==0.2.2
scikit-learn==1.0.2
scipy==1.7.3
setuptools==61.2.0
six==1.16.0
sounddevice==0.4.4
SoundFile==0.10.3.post1
spectralcluster==0.2.4
threadpoolctl==3.1.0
toml==0.10.2
torch==1.11.0
tqdm==4.64.0
typing_extensions==4.1.1
umap-learn==0.5.3
urllib3==1.26.9
webrtcvad==2.0.10
wheel==0.37.1
wincertstore==0.2
